#nowPlaying {
    background-color: rgb(48, 53, 145);
    animation: color 60s infinite linear;
    @keyframes color {

        0% {background: #bb85ee;}
        20% {background: #f5c66f;}
        40% {background: #d8df98;}
        60% {background: #91f791;}
        80% {background: #33CCCC;}
        100% {background: #a2a1f1;}

    }
}